openapi: 3.2.0
info:
  title: RAWG Video Games Database Genres API
  description: The largest open video games database.
  version: v1.0
servers:
- url: https://api.rawg.io/api
tags:
- name: Genres
paths:
  /genres:
    parameters: []
    get:
      operationId: genres_list
      summary: Get a list of video game genres
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Genre'
      tags:
      - Genres
  /genres/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this Genre.
      required: true
      schema:
        type: integer
    get:
      operationId: genres_read
      summary: Get details of the genre
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreSingle'
      tags:
      - Genres
components:
  schemas:
    GenreSingle:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 100
          minLength: 1
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        games_count:
          title: Games count
          type: integer
          readOnly: true
        image_background:
          title: Image background
          type: string
          format: uri
          readOnly: true
          minLength: 1
        description:
          title: Description
          type: string
    Genre:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 100
          minLength: 1
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        games_count:
          title: Games count
          type: integer
          readOnly: true
        image_background:
          title: Image background
          type: string
          format: uri
          readOnly: true
          minLength: 1
