openapi: 3.2.0
info:
  title: RAWG Video Games Database Creator Roles API
  description: The largest open video games database.
  version: v1.0
servers:
- url: https://api.rawg.io/api
tags:
- name: creator-roles
paths:
  /creator-roles:
    parameters: []
    get:
      operationId: creator-roles_list
      summary: Get a list of creator positions (jobs)
      description: ''
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Position'
      tags:
      - creator-roles
components:
  schemas:
    Position:
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
          minLength: 1
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
