openapi: 3.2.0
info:
  title: RAWG Video Games Database Creators API
  description: The largest open video games database.
  version: v1.0
servers:
- url: https://api.rawg.io/api
tags:
- name: Creators
paths:
  /creators:
    parameters: []
    get:
      operationId: creators_list
      summary: Get a list of game creators
      description: ''
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Person'
      tags:
      - Creators
  /creators/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this Person.
      required: true
      schema:
        type: integer
    get:
      operationId: creators_read
      summary: Get details of the creator
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSingle'
      tags:
      - Creators
components:
  schemas:
    PersonSingle:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          minLength: 1
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        image:
          title: Image
          type: string
          readOnly: true
          format: uri
        image_background:
          title: Image background
          type: string
          format: uri
          readOnly: true
          minLength: 1
        description:
          title: Description
          type: string
          minLength: 1
        games_count:
          title: Games count
          type: integer
          readOnly: true
        reviews_count:
          title: Reviews count
          type: integer
          readOnly: true
        rating:
          title: Rating
          type: string
          format: decimal
          readOnly: true
        rating_top:
          title: Rating top
          type: integer
          readOnly: true
        updated:
          title: Updated
          type: string
          format: date-time
          readOnly: true
    Person:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          minLength: 1
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        image:
          title: Image
          type: string
          readOnly: true
          format: uri
        image_background:
          title: Image background
          type: string
          format: uri
          readOnly: true
          minLength: 1
        games_count:
          title: Games count
          type: integer
          readOnly: true
