openapi: 3.2.0
info:
  title: RAWG Video Games Database Platforms API
  description: The largest open video games database.
  version: v1.0
servers:
- url: https://api.rawg.io/api
tags:
- name: Platforms
paths:
  /platforms:
    parameters: []
    get:
      operationId: platforms_list
      summary: Get a list of video game platforms
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Platform'
      tags:
      - Platforms
  /platforms/lists/parents:
    parameters: []
    get:
      operationId: platforms_lists_parents_list
      summary: Get a list of parent platforms
      description: For instance, for PS2 and PS4 the “parent platform” is PlayStation.
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlatformParentSingle'
      tags:
      - Platforms
  /platforms/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this Platform.
      required: true
      schema:
        type: integer
    get:
      operationId: platforms_read
      summary: Get details of the platform
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformSingle'
      tags:
      - Platforms
components:
  schemas:
    PlatformSingle:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 100
          minLength: 1
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        games_count:
          title: Games count
          type: integer
          readOnly: true
        image_background:
          title: Image background
          type: string
          readOnly: true
          format: uri
        description:
          title: Description
          type: string
        image:
          title: Image
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        year_start:
          title: Year start
          type:
          - integer
          - 'null'
          maximum: 32767
          minimum: 0
        year_end:
          title: Year end
          type:
          - integer
          - 'null'
          maximum: 32767
          minimum: 0
    PlatformParentSingle:
      required:
      - name
      - platforms
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 100
          minLength: 1
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
    Platform:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 100
          minLength: 1
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        games_count:
          title: Games count
          type: integer
          readOnly: true
        image_background:
          title: Image background
          type: string
          readOnly: true
          format: uri
        image:
          title: Image
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        year_start:
          title: Year start
          type:
          - integer
          - 'null'
          maximum: 32767
          minimum: 0
        year_end:
          title: Year end
          type:
          - integer
          - 'null'
          maximum: 32767
          minimum: 0
