openapi: 3.2.0
info:
  title: RAWG Video Games Database Stores API
  description: The largest open video games database.
  version: v1.0
servers:
- url: https://api.rawg.io/api
tags:
- name: Stores
paths:
  /stores:
    parameters: []
    get:
      operationId: stores_list
      summary: Get a list of video game storefronts
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Store'
      tags:
      - Stores
  /stores/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this Store.
      required: true
      schema:
        type: integer
    get:
      operationId: stores_read
      summary: Get details of the store
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreSingle'
      tags:
      - Stores
components:
  schemas:
    StoreSingle:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 100
          minLength: 1
        domain:
          title: Domain
          type:
          - string
          - 'null'
          maxLength: 255
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        games_count:
          title: Games count
          type: integer
          readOnly: true
        image_background:
          title: Image background
          type: string
          format: uri
          readOnly: true
          minLength: 1
        description:
          title: Description
          type: string
    Store:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 100
          minLength: 1
        domain:
          title: Domain
          type:
          - string
          - 'null'
          maxLength: 255
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        games_count:
          title: Games count
          type: integer
          readOnly: true
        image_background:
          title: Image background
          type: string
          format: uri
          readOnly: true
          minLength: 1
