swagger: '2.0'
info:
  title: RAWG Video Games Database creator-roles creators API
  description: '

    The largest open video games database.


    ### Why build on RAWG

    - More than 350,000 games for 50 platforms including mobiles.

    - Rich metadata: tags, genres, developers, publishers, individual creators, official websites, release dates,

    Metacritic ratings.

    - Where to buy: links to digital distribution services

    - Similar games based on visual similarity.

    - Player activity data: Steam average playtime and RAWG player counts and ratings.

    - Actively developing and constantly getting better by user contribution and our algorithms.


    ### Terms of Use

    - Free for personal use as long as you attribute RAWG as the source of the data and/or images and add an active

    hyperlink from every page where the data of RAWG is used.

    - Free for commercial use for startups and hobby projects with not more than 100,000 monthly active users or 500,000

    page views per month. If your project is larger than that, email us at [api@rawg.io](mailto:api@rawg.io) for

    commercial terms.

    - No cloning. It would not be cool if you used our API to launch a clone of RAWG. We know it is not always easy

    to say what is a duplicate and what isn''t. Drop us a line at [api@rawg.io](mailto:api@rawg.io) if you are in doubt,

    and we will talk it through.

    - You must include an API key with every request. The key can be obtained at https://rawg.io/apidocs.

    If you don’t provide it, we may ban your requests.


    __[Read more](https://rawg.io/apidocs)__.

    '
  version: v1.0
host: api.rawg.io
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: creators
paths:
  /creators:
    parameters: []
    get:
      operationId: creators_list
      summary: Get a list of game creators.
      description: ''
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Person'
      tags:
      - creators
  /creators/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this Person.
      required: true
      type: integer
    get:
      operationId: creators_read
      summary: Get details of the creator.
      description: ''
      parameters:
      - name: id
        in: path
        type: string
        required: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PersonSingle'
      tags:
      - creators
definitions:
  PersonSingle:
    required:
    - name
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      name:
        title: Name
        type: string
        minLength: 1
      slug:
        title: Slug
        type: string
        format: slug
        pattern: ^[-a-zA-Z0-9_]+$
        readOnly: true
        minLength: 1
      image:
        title: Image
        type: string
        readOnly: true
        format: uri
      image_background:
        title: Image background
        type: string
        format: uri
        readOnly: true
        minLength: 1
      description:
        title: Description
        type: string
        minLength: 1
      games_count:
        title: Games count
        type: integer
        readOnly: true
      reviews_count:
        title: Reviews count
        type: integer
        readOnly: true
      rating:
        title: Rating
        type: string
        format: decimal
        readOnly: true
      rating_top:
        title: Rating top
        type: integer
        readOnly: true
      updated:
        title: Updated
        type: string
        format: date-time
        readOnly: true
  Person:
    required:
    - name
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      name:
        title: Name
        type: string
        minLength: 1
      slug:
        title: Slug
        type: string
        format: slug
        pattern: ^[-a-zA-Z0-9_]+$
        readOnly: true
        minLength: 1
      image:
        title: Image
        type: string
        readOnly: true
        format: uri
      image_background:
        title: Image background
        type: string
        format: uri
        readOnly: true
        minLength: 1
      games_count:
        title: Games count
        type: integer
        readOnly: true
